.c-user-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__item {
    display: flex;
    align-items: center;
    padding: 0.7rem;
    color: $color-violet-dark;
    transform: scale(1);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    &:nth-child(1) {
      transform: translateX(-1rem);
    }
    &:nth-child(2) {
      transform: translateX(0);
    }
    &:nth-child(3) {
      transform: translateX(-1rem);
    }

    &:hover {
      transform: scale(1.1);
    }
  }
  &__item-icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }

  &__item-text {
    font-size: 1rem;
  }
}
