.c-users {
  background: $color-white;
  border-radius: $component-border-radius;
  min-height: 100%;
  @include bg-img('/assets/svg/undraw_friends_online_klj6.svg', 30%, 98% 98%);
  position: relative;

  @include respond(tablet) {
    min-height: calc(100vh - #{$layout-main-header});
    border-radius: 0;
  }

  &__items-container {
    display: flex;
    flex-wrap: wrap;
    padding: calc(1rem - 0.3rem);

    @include respond(mobileL) {
      flex-direction: column;
    }
  }
}
