.c-users {
  background: $color-white;
  border-radius: 10px;
  min-height: 100%;
  @include bg-img('/assets/svg/undraw_friends_online_klj6.svg', 30%, 98% 98%);

  &__items-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: calc(1rem - 0.3rem);
  }
}
