.c-profile {
  border-radius: $component-border-radius;
  display: flex;
  flex-direction: column;
  background: $color-component-bg;
  min-height: 70vh;
  margin-bottom: 3rem;
  position: relative;

  &__user-info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__user-avatar {
    width: 15rem;
  }
  @include respond(tablet) {
    border-radius: 0;
    min-height: 85vh;
  }
}

.l-profile {
  padding-left: 2rem;
  display: flex;
  // @include respond(tablet) {
  //    justify-content: center;
  // }
}
