.c-profile {
  border-radius: $component-border-radius;
  display: flex;
  flex-direction: column;
  background: $color-component-bg;
  min-height: 70vh;
  margin-bottom: 3rem;
  position: relative;

  &__user-info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.l-profile {
  display: flex;
}
