.c-user-avatar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  @include bg-img('/assets/svg/bg-2.svg', 100%, center);

  &__img {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(63, 61, 86, 0.2);
  }

  &__label {
    border-radius: 50%;
    position: relative;
  }

  &__label--active {
    @extend .c-user-avatar__label;
    cursor: pointer;
    &::after {
      transition: $transition;
      content: 'Upload Photo';
      position: absolute;
      color: $color-white;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
    }
  }

  &:hover &__label--active::after {
    transition: $transition;
    bottom: 10%;
    opacity: 1;
  }

  &__input {
    display: none;
  }
}
