.c-comments {
  &__header {
    position: relative;
  }
  &__items-container {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;

    &--active {
      transition: 0.3s ease-in;
      max-height: 200vh;
    }
  }

  &__add-comment-btn {
  }
}
