// main component c-modal-add-message
.c-comments-modal-add-comment {
  top: 50%;
  left: 5%;
  // transform: translateY(-50%);

  &__header {
    order: -1;
  }

  &__content {
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 100%;
      transform: translateY(-50%);
      border-right: 0.7rem solid rgba($color: $color-violet-dark, $alpha: 1);
      border-top: 0.7rem solid transparent;
      border-bottom: 0.7rem solid transparent;
    }
  }

  &__close-btn {
    top: 20%;
    left: 10%;
  }

  &__action-panel {
    justify-content: flex-end;
  }
}
