// main component c-modal-add-message
.c-comments-modal-add-comment {
  top: 150%;
  left: -25%;

  &__header {
    order: -1;
    display: none;
  }

  &__content {
    &::after {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 4%;
      border-bottom: 0.7rem solid rgba($color: $color-violet-dark, $alpha: 1);
      border-left: 0.7rem solid transparent;
      border-right: 0.7rem solid transparent;
    }

    @include respond(tablet) {
      width: 80vw;
    }
  }

  &__close-btn {
    top: 20%;
    left: 10%;
  }

  &__action-panel {
    justify-content: flex-end;
  }
}
