.c-comment {
  margin: 1rem 0;
  padding: 0.5rem;
  color: $color-grey-light;
  line-height: $body-line-height;
  max-width: 95%;
  display: flex;
  align-self: flex-end;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 0.2rem;
  }

  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    order: 1;
  }

  &__title {
    padding: 0.5rem;
    font-size: $font-sm;
  }

  &__comment-date {
    color: $color-grey-light;
    font-size: $font-xs;
  }

  &__photo {
    width: 4rem;
  }

  &__text {
    padding: 1rem;
    position: relative;
    border-radius: 5px;
    background: rgba($color-violet-dark, $alpha: 1);
    color: $color-white;
    margin-right: 1rem;

    &:after {
      position: absolute;
      top: 25%;
      left: 100%;
      // transform: translateY(-100%);
      content: '';
      border-left: 0.7rem solid rgba($color-violet-dark, $alpha: 1); // rgba(242, 242, 242, $alpha: 1);
      border-top: 0.7rem solid transparent;
      border-bottom: 0.7rem solid transparent;
    }
  }

  &__close-btn {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    transition: $transition;
    width: 4rem;
    height: 4rem;
    color: $color-white;
    background: $color-violet-dark;
    border-radius: 50%;
    @include hide;
  }

  &--active {
    @extend .c-comment;
    align-self: flex-start;

    .c-comment__header {
      order: 0;
    }

    .c-comment__text {
      margin: 0;
      margin-left: 1rem;
    }
    .c-comment__text::after {
      left: unset;
      right: 100%;
      border-left: none;
      // transform: translateY(-100%);
      border-right: 0.7rem solid rgba($color-violet-dark, $alpha: 1); // rgba(242, 242, 242, $alpha: 1);
      border-top: 0.7rem solid transparent;
      border-bottom: 0.7rem solid transparent;
    }
  }

  &:hover &__close-btn {
    @include show;
  }
}
