.c-comments {
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    transition: $transition;
  }
  &__items-container {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;

    &--active {
      transition: 0.3s ease-in;
      max-height: 200vh;
    }
  }

  &__add-comment-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
  }

  &__show-comments-btn {
    margin-left: 1.5rem;
    transition: $transition;
    @include hide;
    position: absolute;
    left: 0;
  }

  &__header:hover .c-comments__add-comment-btn {
    background: $color-violet-dark;
    color: $color-white;
    animation: pulse 2s linear 1;
  }

  &__header:hover .c-comments__show-comments-btn {
    @include show;
    transform: translateX(150%);
  }
}
