.c-form {
  &__field-container {
    padding: 0.5rem 0;
  }
  &__field-label {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    font-size: $font-sm;
  }
}

.c-input,
.c-text-area {
  padding: 0.5rem;
  outline: none;
  border-radius: 5px;
  width: 100%;
  color: $color-grey-dark;
  background: transparent;
  border: 1px solid $color-blue-light;
  line-height: $body-line-height;

  &::placeholder {
    color: $color-placeholder;
    font-size: $font-placeholder;
  }
}

.c-text-area {
  resize: none;
  overflow: auto;
  height: 100%;
}

.c-text-error {
  color: $color-error;
  padding: 0.5rem;
}
