@mixin bg-img($url, $size, $pos) {
  background-image: url($url);
  background-size: $size;
  background-repeat: no-repeat;
  background-position: $pos;
}

@mixin hide {
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}
