.c-main-info {
  background: rgba(250, 250, 250, $alpha: 0.8);

  &__header {
    position: relative;
    border-top: 1px solid $color-border;
    padding: 2rem 1rem 0rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    padding: 0.8rem;
  }

  &__text {
    font-size: $font-sm;
    color: $color-paragraph;
    border: 1px solid $color-border;
    padding: 1rem;
    line-height: $body-line-height;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: rgba($color-white, $alpha: 0.8);

    &:not(:last-child) {
      margin: 0.5rem 0;
    }
  }

  &__btn {
    font-size: $font-sm;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
  }

  &__sub-text {
    padding: 0.4rem 0;
    display: flex;
    font-size: $font-sm;
    color: $color-violet-dark;
  }

  &__sub-text-icon {
    margin: 0 0.5rem;
  }

  &__header:hover &__btn {
    background: $color-violet-dark;
    color: $color-white;
    animation: pulse 2s linear 1;
  }
}
