.c-main-info {
  &__header {
    position: relative;
    border-top: 1px solid $color-border;
    padding: 2.5rem 1rem 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    padding: 1rem;
  }

  &__text {
    font-size: $font-sm;
    color: $color-paragraph;
    border: 1px solid $color-border;
    padding: 1rem;
    line-height: $body-line-height;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: rgba($color-white, $alpha: 0.8);

    &:not(:last-child) {
      margin: 0.5rem 0;
    }
  }

  &__btn {
    padding: 0 1rem;
    font-size: $font-sm;
  }

  &__sub-text {
    padding: 0.4rem 0;
    display: flex;
    font-size: $font-sm;
    color: $color-violet-dark;
  }

  &__sub-text-icon {
    margin: 0 0.5rem;
  }
}
