.c-user-info {
  background: $color-white;
  border-radius: 0 0 10px 10px;

  &__header {
    padding: 1.5rem;
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include bg-img('/assets/svg/bg-2.svg', cover, top);
  }

  &__user-name {
    font-weight: 400;
    color: $color-violet-dark;
    font-size: $font-lg;
  }

  &__user-position {
    padding: 0.5rem;
    // color: $color-grey-dark;
    color: $color-violet-light;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    font-size: $font-md;
  }
}
