.l-grid {
  display: grid;
  grid-template-columns: 10% 20% 30% 30% 10%;
  grid-template-rows: minmax($layout-main-header, max-content) min-content min-content;
  grid-gap: $layout-gap;

  @include respond(tablet) {
    grid-template-rows: minmax(calc(#{$layout-main-header} * 0.65), max-content) min-content;
    grid-template-columns: 100%;
    grid-gap: calc(#{$layout-gap} / 2);
  }
}

.l-main-content {
  grid-area: 3/3/-1/5;
  @include respond(tablet) {
    grid-area: 3/1/-1/1;
  }
}
