* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-base-size;
  @include respond(tablet) {
    font-size: 61%;
  }
  @include respond(mobileL) {
    font-size: 59%;
  }
  @include respond(mobileM) {
    font-size: 57%;
  }
  @include respond(mobileS) {
    font-size: 55%;
  }
}

body {
  font-family: $font-primary, $font-secondary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $color-body;
  color: $color-text;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: $color-white;
}
