.c-text-area {
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  color: $color-grey-dark;
  padding: 1rem;
  font-size: $font-md;
  background: transparent;

  &::placeholder {
    color: $color-placeholder;
  }
}
