.c-like {
  position: relative;
  &__count {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;

    transition: $transition;
  }

  &:hover .c-like__count {
    transform: translate(-100%, -50%);
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
  }

  &:hover &__btn {
    background: $color-violet-dark;
    color: $color-white;
    animation: pulse 2s linear 1;
  }
}
