// main component c-modal-add-message
.c-posts-modal-add-post {
  top: 0%;
  right: 10%;
  left: 10%;
  display: flex;
  flex-direction: column;

  @include respond(tablet) {
    top: 5%;
    left: 10%;
    right: 10%;
  }

  &__header {
    img {
      height: 7rem;
      width: 7rem;
    }
  }
  &__close-btn {
    top: 20%;
    right: 10%;
    @include respond(tablet) {
      @include hide;
    }
  }
  &__content {
    &::after {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 0.7rem solid rgba($color: $color-violet-dark, $alpha: 1);
      border-right: 0.7rem solid transparent;
      border-left: 0.7rem solid transparent;
    }
    @include respond(tablet) {
      width: 80vw;
    }
  }

  &__text-area--expand {
    min-height: 40vh;
    min-width: 50vw;
  }

  &__action-panel {
    justify-content: space-between;
  }
}
