.c-modal-add-post {
  position: absolute;
  top: 5rem;
  right: 3.5rem;
  background: $color-component-bg;
  box-shadow: $shadow-component;
  border-radius: 10px;
  min-width: 40vw;
  z-index: 5;

  &__header {
    padding: 2rem 1.5rem;
    border-bottom: 1px solid $color-border;
    display: flex;
    justify-content: space-between;
    @include bg-img('/assets/svg/bg-2.svg', 60%, center);
  }

  &__content {
    background: rgba($color-white-light, $alpha: 0.5);
    padding: 1rem;
  }
  &__text-area {
    border: 1px solid $color-border;
    min-height: 15vh;
  }

  &__action-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgba($color-white-light, $alpha: 0.5);
    padding: 1rem;
  }
}
