.c-posts {
  border-top: $layout-gap solid $color-body;
  background: $color-component-bg;
  border-radius: 0 0 10px 10px;
  min-height: 39vh;
  @include bg-img('/assets/svg/undraw_personal_text_vkd8.svg', 20%, 98% 98%);
  padding-bottom: 15rem;
  position: relative;
  @include respond(tablet) {
    min-height: 65vh;
  }

  &__header {
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    padding-top: 0.5rem;
    display: flex;
  }

  &__title-icon {
    font-size: $font-sm;
    margin-left: 0.5rem;
  }

  &__add-post-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
  }

  &__info {
    padding: 0.5rem;
    color: $color-grey-light;
  }

  &__items-container {
    padding: 0 1rem;
  }

  &__header:hover &__add-post-btn {
    background: $color-violet-dark;
    color: $color-white;
    animation: pulse 2s linear 1;
  }
}
