.c-btn {
  border: 0;
  outline: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: $color-violet-dark;
  border-radius: 5px;
  transition: 0.1s;
  transform: scale(1);
  min-width: fit-content;

  &__icon {
    margin: 0 0.5rem;
  }

  &--primary {
    padding: 0.7rem;
    background: $color-violet-dark;
    color: $color-white;
  }

  &--secondary {
    padding: 0.7rem;
    border: 1px solid $color-blue-light;
  }

  &:active {
    transform: scale(1.12);
  }
}
