.c-main-header {
  grid-area: 1/2/2/5;
  border-radius: $component-border-radius;
  display: flex;
  justify-content: space-between;
  background: $color-component-bg;
  margin-top: 0.5rem;
  @include bg-img(
    '/assets/svg/undraw_connected_world_wuay.svg',
    10%,
    2% center
  );

  &__title {
    margin-left: 11.1rem;
    padding: 1.5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &--mode {
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 200;

      &::first-letter {
        color: $color-violet-light;
      }
    }
  }
}

.c-logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-violet-dark;
  border-radius: 0 10px 10px 0;

  &__btn {
    padding: 0.8rem;
  }

  &__icon {
    color: $color-white;
  }
}
