.c-main-header {
  grid-area: 1/2/2/5;
  border-radius: $component-boder-radius;
  display: flex;
  justify-content: space-between;
  background: $color-component;
  margin-top: 0.5rem;
  background-image: url('/assets/svg/undraw_connected_world_wuay.svg');
  background-size: 10%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 2%;

  &__title {
    margin-left: 10rem;
    padding: 1.5rem;
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &--mode {
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 200;

      &::first-letter {
        color: $color-violet-light;
      }
    }
  }

  &__icon {
    font-size: 3rem;
    margin-right: 0.5rem;
  }
}

.c-logout-container {
  background-image: url('/assets/subtracts/01.svg');
  background-size: cover;
  border-radius: 0 10px 10px 0;
  min-height: 100%;

  background: $color-violet-dark;
  display: flex;
  justify-content: center;
  align-items: center;

  &__btn {
    padding: 0.8rem;
  }

  &__icon {
    font-size: 1rem;
    margin-left: 0.5rem;
    color: $color-white;
  }
}
