.c-main-navigation {
  grid-area: 3/2/4/3;
  height: 70vh;
  border-radius: $component-boder-radius;
  background: $color-component-bg;
  @include bg-img(
    '/assets/svg/undraw_current_location_rypt.svg',
    70%,
    center 98%
  );

  &__links-container {
    margin-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    padding: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--active {
      border-right: 2px solid $color-violet-light;
      background: #e9effb;
    }
  }
}
