.c-settings {
  background: $color-white;
  border-radius: 10px;
  min-height: 100%;
  @include bg-img('/assets/svg/undraw_settings_ii2j.svg', 35%, 98% 98%);

  &__header {
    padding: 1rem;
  }

  &__title {
    font-weight: 400;
  }

  &__items-container {
    padding: 1rem;
  }

  &__item {
    width: 100%;
    padding: 2rem;
    border: 1px solid $color-body;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    transform: scale(1);
    transition: $transition;
    &:not(:last-child) {
      margin-bottom: 0.2rem;
    }

    &:hover {
      transform: scale(1.01);
    }
  }
}
